[Desktop Entry]
Type=Application
Name=Naikari
GenericName=Naikari
Comment=2-D space-trading sandbox game
Icon=io.github.naikari.Naikari
Exec=naikari
Categories=Game;AdventureGame;
Terminal=false
