[Desktop Entry]
Type=Application
Name=Naikari
GenericName=Naikari
Comment=2D action/rpg space trading combat game
Icon=naikari
Exec=naikari
Categories=Game;AdventureGame;
Terminal=false
Keywords=2D;action;rpg;space;trading;combat;game;
Name[en_US]=naikari.desktop
