<?xml version='1.0' encoding='UTF-8'?>
<outfit name="BioPlasma Stinger Stage {stage}">
 <general>
  <slot prop="bio_weapon">weapon</slot>
  <size>small</size>
  <rarity>{rarity}</rarity>
  <mass>6</mass>
  <price>{price}</price>
  <description>The BioPlasma Stinger is the most basic organic weapon available, and one of the most common. While it is not especially powerful, it is prized for its reliability and low cognitive requirements. {potential}</description>
  <gfx_store>organic_plasma_s1.webp</gfx_store>
  <cpu>1</cpu>
 </general>
 <specific type="bolt">
  <gfx>plasma.png</gfx>
  <sound>plasma</sound>
  <spfx_shield>ShiS</spfx_shield>
  <spfx_armour>PlaS2</spfx_armour>
  <delay>1.2</delay>
  <speed>{speed}</speed>
  <range>{range}</range>
  <falloff>{falloff}</falloff>
  <energy>10</energy>
  <heatup>{heatup}</heatup>
  <rdr_range>1400</rdr_range>
  <rdr_range_max>1800</rdr_range_max>
  <swivel>22</swivel>
  <damage>
   <type>heat</type>
   <penetrate>0</penetrate>
   <physical>{physical}</physical>
   <disable>4.8</disable>
  </damage>
 </specific>
</outfit>
