<?xml version='1.0' encoding='UTF-8'?>
<outfit name="BioPlasma Claw Stage {stage}">
 <general>
  <slot prop="bio_weapon">weapon</slot>
  <size>small</size>
  <rarity>{rarity}</rarity>
  <mass>18</mass>
  <price>{price}</price>
  <description>A more powerful cousin of the BioPlasma Stinger, the BioPlasma Claw uses more precious brain capacity, but features markedly increased damage output in return. {potential}</description>
  <gfx_store>organic_plasma_s2.webp</gfx_store>
 </general>
 <specific type="bolt">
  <gfx>plasma2.png</gfx>
  <sound>plasma</sound>
  <spfx_shield>ShiS</spfx_shield>
  <spfx_armour>PlaS2</spfx_armour>
  <delay>1.4</delay>
  <speed>{speed}</speed>
  <range>{range}</range>
  <falloff>{falloff}</falloff>
  <gfx_end>plasma2-end.png</gfx_end>
  <energy>24</energy>
  <heatup>{heatup}</heatup>
  <rdr_range>1800</rdr_range>
  <rdr_range_max>2700</rdr_range_max>
  <swivel>22</swivel>
  <damage>
   <type>heat</type>
   <penetrate>12</penetrate>
   <physical>{physical}</physical>
   <disable>4</disable>
  </damage>
 </specific>
</outfit>
